<!DOCTYPE html>
<html>
<head>
    <title>Clientes</title>
</head>
<body>
    <h1>Lista de Clientes</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Teléfono</th>
            <th>Dirección</th>
            <th>Fecha de Creación</th>
            <th>Última Actividad</th>
        </tr>
        {% for cliente in clientes %}
        <tr>
            <td>{{ cliente[0] }}</td>
            <td>{{ cliente[1] }}</td>
            <td>{{ cliente[2] }}</td>
            <td>{{ cliente[4] }}</td>
            <td>{{ cliente[5] }}</td>
            <td>{{ cliente[6] }}</td>
            <td>{{ cliente[7] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
